extends layout

block content
	form(action="/new", method="post") 
		input(type="text", name="author", placeholder="Author")
		input(type="text", name="text", placeholder="Message")
		button(type="submit") Add Message