extends layout

block content
	.header
		h1 New Message
	
	.form-wrapper
		form(action="/new", method="post")
			.user
				h3 Author
				input(type="text", name="user")
			.text
				h3 Message
				input(type="text", name="text")
			.submit
				button(type="submit") Add Message